@model List<Human>;

@{
    //List<Human> humans = (List<Human>)ViewBag.Humans;//ViewData["Humans"];
    string countryName = ViewData["CountryName"].ToString();
}


<h3>Humans from @countryName</h3>
<table class="table-striped">
    @foreach (Human human in Model)
    {
    <tr>
        <td class="col-auto">
            <h5>@human.FirstName</h5>
        </td>
        <td class="col-auto">
            <h5>@human.LastName</h5>
        </td>
        <td class="col-auto">
            <h5>@human.Gender</h5>
        </td>
        <td class="col-auto">
            <h5>@human.Age</h5>
        </td>
        <td class="col-auto">
            <h5>@human.IsSick</h5>
        </td>
    </tr>
    }
</table>